files filter=lfs diff=lfs merge=lfs -text
are filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
if filter=lfs diff=lfs merge=lfs -text
your filter=lfs diff=lfs merge=lfs -text
large filter=lfs diff=lfs merge=lfs -text
\# filter=lfs diff=lfs merge=lfs -text
example filter=lfs diff=lfs merge=lfs -text
html filter=lfs diff=lfs merge=lfs -text
